<div class="masthead black" id="home">
  <div class="container-fluid center">
    <h1 class="tagline tk-museo-sans-rounded">Every Project Could Use A Little Design Love</h1>
    <div class="call-to-action">
      <h2 class="tk-museo-sans-rounded">Sign Up to Get Design Love</h2>
      <p><%= link_to "Get Started", new_user_session_path, class: "btn-get-started" %></p>
    </div>
  </div>
</div>

<section id="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class= "container section">
          <h2 class="section-header tk-museo-sans-rounded">About DesignLove</h2>
          <p>One day, <%= link_to "@misosoup", "http://twitter.com/misosoup", target: "_blank" %> and I were chatting about some design work she recently completed for an open source project. After seeing the style guides and mockups, we chatted more about how we could formalize the process of introducing open source project owners to designers who need to build out their portfolios. With that in mind, we came up with Design Love.</p>

          <p>Design Love is essentially a matchmaking system that advertises a random selection of open source projects to the design community. Designers get real world experience and open source projects get proper branding, enabling their projects to get more recognition.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="how">
  <div class="section black">
    <h2 class="section-header tk-museo-sans-rounded">How It Works</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h3>Designer</h3>
          <h5>Sign Up</h5>
          <h5>Receive Weekly Emails</h5>
          <h5>Connect with Developers</h5>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>Developer</h3>
          <h5>Sign Up & List Projects</h5>
          <h5>Get Featured in Weekly Emails</h5>
          <h5>Connect with Designers</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="featured">
  <div class="container section">
    <h2 class="section-header tk-museo-sans-rounded">Featured Projects</h2>
    <ul class="projects">
      <li><img src="http://placehold.it/261x279"></li>
      <li><img src="http://placehold.it/261x279"></li>
      <li><img src="http://placehold.it/261x279"></li>
    </ul>
    <p><h3><%= link_to("See All...", projects_path) %></h3></p>
  </div>
</section>

<section id="footer">
  <div class="container-fluid black">
    <footer>
      <ul>
        <li>About</li>
        <li>How It Works</li>
        <li>Featured Projects</li>
        <li>Contact</li>
      </ul>
    </footer>
  </div>
</section>
