<head>
  <title>DesignLove.io</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= typekit_include_tag 'gch4mju' %>
  <%= csrf_meta_tags %>
</head>